<section class="panel is-light">
  <div class="panel-header">
    <p>Table of Content</p>
    <span class="fa fa-archive"></span>
  </div>
  <div class="panel-body has-background-white">
    <ul class="panel-list">
      <li><a href="<%= url_for("/2015/05/15/lyrics/natalie-cole-i-wish-you-love/") %>"
            >Susan Wong - I Wish You Love</a></li>
      <li><a href="<%= url_for("/2015/05/15/lyrics/barbara-streisand-the-way-we-were/") %>"
            >Susan Wong - The Way We Were</a></li>
    </ul>
  </div>
</section>
