<section class="panel is-light">
  <div class="panel-header">
    <p>Archives</p>
    <span class="fa fa-archive"></span>
  </div>
  <div class="panel-body has-background-white">
  <%- list_archives({show_count: theme.show_count, type: theme.archive_type}) %>
  </div>
</section>

