<%
/**
 * Randomly shuffle an array
 * https://stackoverflow.com/a/2450976/1293256
 * @param  {Array} array The array to shuffle
 * @return {String}      The first item in the shuffled array
 */
var shuffle = function (array) {

  var currentIndex = array.length;
  var temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {
    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
};
%>

<section class="panel is-light">
  <div class="panel-header">
    <p>Web/Mobile Development</p>
    <span class="fa fa-child"></span>
  </div>
  <div class="panel-body has-background-white">
    <ul class="panel-list">
      <% friends = shuffle(site.data.archives_gitlab).slice(-5) %>
      <% friends.forEach(function(friend){ %>
      <li><a href="https://epsi-rns.gitlab.io<%= friend.url %>"
         ><%= friend.title %></a></li>
      <% }) %>
    </ul>
  </div>
</section>
