<section class="panel is-light">
  <div class="panel-header">
    <p>Car Painting and Body Repair</p>
    <span class="fa fa-car-side"></span>
  </div>
  <div class="panel-body has-background-white">
    <div class="has-text-centered">
      <a href="http://oto-spies.info/">
        <%- image_tag("/images/adverts/oto-spies-01.png", {alt: "Oto Spies"}) %>
    </div>
  </div>
</section>
