<main role="main" 
      class="column is-full box-deco has-background-white">
  <%- partial('terms/buttons', {terms: site.categories}) %>
  <%- partial('terms/title') %>
  <%- partial('terms/list', 
        {terms: site.categories, taxonomyname: __('category')}) %>
</main>
