<main role="main" 
     class="column is-full blog-column box-deco
            has-background-white has-text-centered">
  <article class="blog-post">
    <h1 class="title is-4"><%= config.author %></h1>
    <h2 class="subtitle is-4"><%= config.subtitle %></h2>
    
    <%- page.content %>
  </article>
</main>
